.continar{
  border-radius: 15px;
  height: 400px;
  width: 70%;
  padding: 0;
  background-color: #eae7e7;
}

.body{
  height: 325px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.buttons{

display: flex;
align-items: center;
justify-content: space-evenly;
  margin-bottom: 1rem;
  margin-top: 30px;
}
.header{
  color: #de239f;
}

.avatar{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 2px;
  margin-right: 5px;
  margin-top: 10px;
}
.person{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
}
.name{

}